{% extends 'base.html.twig' %}

{% block title %}Demo{% endblock %}

{% block body %}

    <div class="container py-5">
        <h1>Custom Query Language. Demo App</h1>

        <div id="app"></div>
    </div>
{% endblock %}
